debug=True
staff_provision_secret=change-me

yookassa_shop_id=change-me
yookassa_secret_key=change-me
frontend_base_url=http://localhost:3000

db_user=user
db_password=password
db_host=postgres
db_port=5432
db_database=database

redis_host=redis
redis_port=6379